@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script src="~/JS/StringExtend.js"></script>
    <script src="~/JS/dateExtend.js"></script>
    <script src="~/JS/HomeIndex.js"></script>
    <script src="~/JS/logger.js"></script>
}

<div class="jumbotron">
    <h1>FIREBASE TEST APP</h1>
    <p class="lead">Open this app on 2 browser tabs, and start chating!</p>

    <p> go to <a hef="https://www.firebase.com/"></a> to learn more</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <p class="label label-danger name-label">michael</p><br />
            <input type="text" class="test " data-dir="left" data-from="michael" />
            <button type="button" class="btn btn-info save">save</button>
        </div>
        <div class="col-md-6 left-dir">
            <p class="label label-danger name-label">andrew</p><br />
            <input type="text" class="test " data-dir="right" data-from="andrew" />
            <button type="button" class="btn btn-info save">save</button>
        </div>
    </div>
</div>

<div class="row list">
</div>